In [4]:
def bubble_sort_descending(arr):
    n = len(arr)
    
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] < arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]
                
the_list = [21, 11, 5, 78, 49, 54, 72, 88]
bubble_sort_descending(the_list)
print("Sorted list in descending order:", the_list)

Sorted list in descending order: [88, 78, 72, 54, 49, 21, 11, 5]

In [6]:
def insertion_sort_descending(arr):
    for i in range(1, len(arr)):
        key = arr[i]
        j = oi - 1
        while j >= 0 and key > arr[j]:
            arr[j + 1] = arr[j]
            j -= 1
        arr[j + 1] = key

the_list = [21, 11, 5, 78, 49, 54, 72, 88]
insertion_sort_descending(the_list)
Print("Sorted list in descending order:", the_list)

NameError: name 'oi' is not defined

In [14]:
def selection_sort_ascending(arr):
    n = len(arr)
    
    for i in range(n):
        min_index = i
        for j in range(i+1, n):
            if arr[j] < arr[min_index]:
                min_index = j
        
        arr[i], arr[min_index] = arr[min_index], arr[i]

my_list = [61, 11, 10, 78, 9, 4, 72, 8]
selection_sort_ascending(my_list)
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [4, 8, 9, 10, 11, 61, 72, 78]

In [24]:
def selection_sort_names(names):
    n = len(names)

    for i in range(n - 1):
        min_index = i
        for j in range(i + 1, n):
            if names[j] < names[min_index]:
                min_index = j

        # Swap the minimum element with the first element of the unsorted part
        names[i], names[min_index] = names[min_index], names[i]

name_list = ["Abisola", "Aisha", "Adedamola", "Isaac", "Mardiyyah"]
selection_sort_names(name_list)
print("Sorted names in ascending order:", name_list)

Sorted names in ascending order: ['Abisola', 'Adedamola', 'Aisha', 'Isaac', 'Mardiyyah']

In [32]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

def insertion_sort_employees_by_salary(employees):
    for i in range(1, len(employees)):
        key = employees[i]
        j = i - 1
        while j >= 0 and key.salary < employees[j].salary:
            employees[j + 1] = employees[j]
            j -= 1
        employees[j + 1] = key


employee1 = Employee("Abisola", 100000)
employee2 = Employee("Damola", 60000)
employee3 = Employee("Isaac", 450000)
employee4 = Employee("Aishat", 41000)

employee_list = [employee1, employee2, employee3, employee4]

insertion_sort_employees_by_salary(employee_list)

print("Sorted employees by salary in ascending order:")
for employee in employee_list:
    print(f"Name: {employee.name}, Salary: {employee.salary}")

Sorted employees by salary in ascending order:
Name: Aishat, Salary: 41000
Name: Damola, Salary: 60000
Name: Abisola, Salary: 100000
Name: Isaac, Salary: 450000

In [45]:
class student:
    def __init__(self, roll_number, marks):
        self.roll_number = roll_number
        self.marks = marks

def bubble_sort_top_10_students(students):
    n = len(students)
    for i in range(n - 1):
        for j in range(0, n - i - 1):
            if students[j].marks < students[j + 1].marks:
                students[j], students[j + 1] = students[j + 1], students[j]

# create a list of student objects with roll numbers and marks
students = [
    student(101, [55, 88, 92, 65, 89, 94, 54, 71, 93, 39]),
    student(102, [35, 81, 64, 92, 88, 89, 40, 91, 94, 90]),
    student(103, [85, 87, 84, 92, 8, 49, 90, 92, 94, 79]),
    student(104, [55, 88, 92, 65, 69, 94, 38, 91, 93, 6]),
    student(105, [41, 64, 20, 65, 89, 32, 54, 71, 93, 86]),
    student(106, [35, 81, 64, 92, 88, 89, 40, 54, 94, 46]),
    student(107, [5, 87, 84, 92, 8, 70, 90, 92, 94, 96]),
    student(108, [45, 88, 92, 75, 69, 94, 54, 91, 93, 65]),
    student(109, [85, 87, 84, 92, 43, 49, 90, 92, 94, 56]),
    student(110, [95, 88, 92, 65, 69, 94, 54, 71, 93, 6]),
    student(111, [40, 88, 32, 65, 89, 64, 54, 71, 93, 58]),
    student(112, [35, 81, 64, 92, 38, 86, 30, 91, 65, 80]),
    student(113, [12, 17, 84, 40, 8, 49, 53, 92, 94, 79]),
    student(114, [25, 34, 67, 76, 69, 94, 38, 91, 93, 26]),
    student(115, [41, 64, 26, 65, 89, 32, 54, 71, 64, 23]),
    student(116, [35, 41, 64, 92, 88, 30, 40, 54, 94, 46]),
    student(117, [5, 87, 84, 92, 34, 70, 90, 92, 94, 96]),
    student(118, [45, 88, 92, 75, 69, 94, 54, 91, 93, 6]),
    student(119, [85, 27, 64, 92, 28, 49, 90, 27, 94, 86]),
    student(120, [95, 88, 92, 21, 69, 84, 94, 61, 53, 80])
   
]

# sort the students based on their total marks using bubble sort
Bubble_sort_top_10_students(students)

# display the top 10 students’ roll numbers and marks
Print("top 10 students (roll number, total marks) in sorted order:")
for i in range(10):
    Print(f"roll number: {students[i].roll_number}, total marks: {sum(students[i].marks)}")

NameError: name 'Bubble_sort_top_10_students' is not defined