In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('rematched2.csv')

In [4]:
data.head()

,Unnamed: 0,Date,Name,Email,Amount,Time,IPAddress,TransactionMode,MonthEnd,WeekDay,isParty,isFraud
0,0,2023-03-01,Ibrahim,sulibrahim202@gmail.com,20,07:26:07,141.83.177.155,Online Payment,NormalDay,Workday,No,False
1,1,2023-03-01,Ibrahim,sulibrahim202@gmail.com,12,15:14:21,26.51.167.24,Online Payment,NormalDay,Workday,No,False
2,2,2023-03-01,Ibrahim,sulibrahim202@gmail.com,45,23:29:35,126.121.246.110,Online Payment,NormalDay,Workday,No,False
3,3,2023-03-02,Ibrahim,sulibrahim202@gmail.com,34,07:12:43,80.111.139.82,Debit Card,NormalDay,Workday,No,False
4,4,2023-03-02,Ibrahim,sulibrahim202@gmail.com,23,15:18:25,44.154.58.200,Bank Transfer,NormalDay,Workday,No,False

In [1]:
# add days monday te9woduday  and the likes
# add array of accepted ipaddress
# accepted emails and names
# handle new transaction mode

In [15]:
from datetime import datetime

def getWeekDay(date): 
    unity = date.weekday()
    if (unity == 0):
        return 'Monday'
    elif (unity == 1):
        return 'Tuesday'
    elif (unity == 2):
        return 'Wednesday'
    elif (unity == 3):
        return 'Thursday'
    elif (unity == 4):
        return 'Friday'
    elif (unity == 5):
        return 'Saturday'
    elif (unity == 6):
        return 'Sunday'
    else:
        return 'No Method for this'
def string_to_date_converter(date_string):
    parsed_date = datetime.strptime(date_string, "%Y-%m-%d")
    return parsed_date

In [3]:
frame = string_to_date_converter('2023-12-16')
maine = getWeekDay(frame)
print(maine)

Saturday

In [23]:
data = pd.read_csv('rematched3.csv')
data.head(30)

,Unnamed: 0,Date,Name,Email,Amount,Time,IPAddress,TransactionMode,MonthEnd,Day,WeekDay,isParty,isFraud
0,0,2023-07-01,Ibrahim,sulibrahim202@gmail.com,10,07:24:32,179.78.175.197,Bank Transfer,NormalDay,Saturday,Weekend,No,False
1,1,2023-07-01,Ibrahim,sulibrahim202@gmail.com,25,15:15:51,80.111.139.82,Debit Card,NormalDay,Saturday,Weekend,No,False
2,2,2023-07-01,billy,muchiuchiha@yahoo.com,3900,10:16:31,11.88.76.59,unknown,NormalDay,Saturday,Weekend,No,True
3,3,2023-07-02,seun,muchiuchiha@yahoo.com,50,22:13:27,151.228.41.182,renewal,NormalDay,Sunday,Weekend,No,True
4,4,2023-07-02,Ibrahim,sulibrahim202@gmail.com,5,23:58:12,218.12.47.131,Debit Card,NormalDay,Sunday,Weekend,No,False
5,5,2023-07-03,billy,frigoglassmuti@xyz.app,2990,22:33:49,11.88.76.59,unknown,NormalDay,Monday,Workday,No,True
6,6,2023-07-03,Ibrahim,sulibrahim202@gmail.com,12,12:40:57,26.51.167.24,Online Payment,NormalDay,Monday,Workday,No,False
7,7,2023-07-03,molly,yukinaxyz@wechat.com,500,22:32:36,120.91.63.242,renewal,NormalDay,Monday,Workday,No,True
8,8,2023-07-03,Ibrahim,sulibrahim202@gmail.com,5,22:45:56,126.121.246.110,Debit Card,NormalDay,Monday,Workday,No,False
9,9,2023-07-04,Ibrahim,sulibrahim202@gmail.com,20,07:09:19,20.209.253.50,Debit Card,NormalDay,Tuesday,Workday,No,False
10,10,2023-07-04,molly,billy4zone@recon.com,500,16:05:52,172.46.225.80,online purchase,NormalDay,Tuesday,Workday,No,True
11,11,2023-07-04,Ibrahim,sulibrahim202@gmail.com,5,17:20:28,103.83.169.24,Bank Transfer,NormalDay,Tuesday,Workday,No,False
12,12,2023-07-04,Ibrahim,sulibrahim202@gmail.com,12,22:37:04,80.111.139.82,Bank Transfer,NormalDay,Tuesday,Workday,No,False
13,13,2023-07-05,Ibrahim,sulibrahim202@gmail.com,45,07:31:55,20.209.253.50,Online Payment,NormalDay,Wednesday,Workday,No,False
14,14,2023-07-05,ibrahim,yukinaxyz@wechat.com,20000,10:34:05,151.228.41.182,dark web,NormalDay,Wednesday,Workday,No,True
15,15,2023-07-05,Ibrahim,sulibrahim202@gmail.com,23,17:58:55,179.78.175.197,Bank Transfer,NormalDay,Wednesday,Workday,No,False
16,16,2023-07-05,migos,goebombarz@gmail.com,2990,16:35:45,49.153.223.13,online purchase,NormalDay,Wednesday,Workday,No,True
17,17,2023-07-06,Ibrahim,sulibrahim202@gmail.com,23,07:26:06,80.111.139.82,Debit Card,NormalDay,Thursday,Workday,No,False
18,18,2023-07-06,Ibrahim,sulibrahim202@gmail.com,5,12:22:19,103.83.169.24,Bank Transfer,NormalDay,Thursday,Workday,No,False
19,19,2023-07-06,Ibrahim,sulibrahim202@gmail.com,20,17:02:14,20.209.253.50,Debit Card,NormalDay,Thursday,Workday,No,False
20,20,2023-07-06,Ibrahim,sulibrahim202@gmail.com,45,22:18:12,152.58.149.138,Bank Transfer,NormalDay,Thursday,Workday,No,False
21,21,2023-07-07,migos,yukinaxyz@wechat.com,49,23:28:17,11.88.76.59,one time payment,NormalDay,Friday,Workday,No,True
22,22,2023-07-07,Ibrahim,sulibrahim202@gmail.com,45,11:48:38,26.51.167.24,Online Payment,NormalDay,Friday,Workday,No,False
23,23,2023-07-07,Ibrahim,sulibrahim202@gmail.com,20,15:38:04,20.209.253.50,Debit Card,NormalDay,Friday,Workday,No,False
24,24,2023-07-07,Ibrahim,sulibrahim202@gmail.com,23,19:19:06,80.111.139.82,Online Payment,NormalDay,Friday,Workday,No,False
25,25,2023-07-07,Ibrahim,sulibrahim202@gmail.com,34,23:43:54,103.83.169.24,Debit Card,NormalDay,Friday,Workday,No,False
26,26,2023-07-08,Ibrahim,sulibrahim202@gmail.com,10,07:02:44,44.154.58.200,Debit Card,NormalDay,Saturday,Weekend,No,False
27,27,2023-07-08,Ibrahim,sulibrahim202@gmail.com,25,23:51:56,44.154.58.200,Debit Card,NormalDay,Saturday,Weekend,No,False
28,28,2023-07-09,geotomz,billy4zone@recon.com,3000,16:24:31,83.29.94.120,unknown,NormalDay,Sunday,Weekend,Party,True
29,29,2023-07-09,Ibrahim,sulibrahim202@gmail.com,40,15:17:28,84.69.172.191,Bank Transfer,NormalDay,Sunday,Weekend,Party,False

In [7]:
data.drop(columns=['Unnamed: 0'])

,Date,Name,Email,Amount,Time,IPAddress,TransactionMode,MonthEnd,Day,WeekDay,isParty,isFraud
0,2023-07-01,Ibrahim,sulibrahim202@gmail.com,10,07:24:32,179.78.175.197,Bank Transfer,NormalDay,Saturday,Weekend,No,False
1,2023-07-01,Ibrahim,sulibrahim202@gmail.com,25,15:15:51,80.111.139.82,Debit Card,NormalDay,Saturday,Weekend,No,False
2,2023-07-01,billy,muchiuchiha@yahoo.com,3900,10:16:31,11.88.76.59,unknown,NormalDay,Saturday,Weekend,No,True
3,2023-07-02,seun,muchiuchiha@yahoo.com,50,22:13:27,151.228.41.182,renewal,NormalDay,Sunday,Weekend,No,True
4,2023-07-02,Ibrahim,sulibrahim202@gmail.com,5,23:58:12,218.12.47.131,Debit Card,NormalDay,Sunday,Weekend,No,False
...,...,...,...,...,...,...,...,...,...,...,...,...
357,2023-10-06,Ibrahim,sulibrahim202@gmail.com,12,17:46:49,84.69.172.191,Online Payment,NormalDay,Friday,Workday,No,False
358,2023-10-06,master,billy4zone@recon.com,1000,16:54:01,83.29.94.120,renewal,NormalDay,Friday,Workday,No,True
359,2023-10-07,Ibrahim,sulibrahim202@gmail.com,40,07:15:55,20.209.253.50,Bank Transfer,NormalDay,Saturday,Weekend,No,False
360,2023-10-07,Ibrahim,sulibrahim202@gmail.com,40,15:41:33,179.78.175.197,Bank Transfer,NormalDay,Saturday,Weekend,No,False
361,2023-10-07,Ibrahim,sulibrahim202@gmail.com,20,23:58:58,26.51.167.24,Bank Transfer,NormalDay,Saturday,Weekend,No,False

In [16]:
# Create array of accepted details for each category

### Accepted Category
accepted_names = ['Ibrahim']
accepted_emails = ['sulibrahim202@gmail.com']
accepted_ips = ['218.12.47.131', '26.51.167.24', '103.83.169.24','141.83.177.155', '179.78.175.197','44.154.58.200', '80.111.139.82','84.69.172.191','126.121.246.110','20.209.253.50','152.58.149.138']
accepted_transactmodes =  ['Online Payment', 'Debit Card', 'Bank Transfer']

### Fraud Category
fraud_names = ['billy', 'migos', 'molly', 'seun', 'geotomz', 'master']
fraud_emails = ['yukinaxyz@wechat.com', 'billy4zone@recon.com', 'goebombarz@gmail.com', 'frigoglassmuti@xyz.app', 'muchiuchiha@yahoo.com']
fraud_transactmodes = ['dark web', 'online purchase', 'renewal', 'one time payment', 'unknown']
fraud_ips = ['94.141.219.106', '151.228.41.182', '172.46.225.80', '120.91.63.242', '49.153.223.13', '83.29.94.120', '11.88.76.59']

In [17]:
### Define the functions for the respective actions
from datetime import datetime, timedelta

def check_name(name):
    if name in accepted_names:
        return 'valid'
    elif name in fraud_names:
        return 'fraud'
    else: 
        return 'null'
    
def check_email(email):
    if email in accepted_emails:
        return 'valid'
    elif email in fraud_emails:
        return 'fraud'
    else: 
        return 'null'

def check_transactmode(transmode):
    if transmode in accepted_transactmodes:
        return 'valid'
    elif transmode in fraud_transactmodes:
        return 'fraud'
    else: 
        return 'null'

def check_ips(ip):
    if ip in accepted_ips:
        return 'valid'
    elif ip in fraud_ips:
        return 'fraud'
    else: 
        return 'null'
    
def string_to_date_converter(date_string):
    parsed_date = datetime.strptime(date_string, "%Y-%m-%d")
    return parsed_date

def string_to_time_converter(time_string):
    parsed_time = datetime.strptime(time_string, "%H:%M:%S")
    return parsed_time.hour

In [10]:
#data = data.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])
data = data.drop(columns=['Unnamed: 0'])

In [11]:
data['checkname'] = data['Name'].apply(lambda x: check_name(x))
data['checkmail'] = data['Email'].apply(lambda x: check_email(x))
data['checktmode'] = data['TransactionMode'].apply(lambda x: check_transactmode(x))
data['checkip'] = data['IPAddress'].apply(lambda x: check_ips(x))
data['cdate'] = data['Date'].apply(lambda x: string_to_date_converter(x))
data['ctime'] = data['Time'].apply(lambda x: string_to_time_converter(x))

In [12]:
#data['ctime'] = pd.cut(data['ctime'], bins=[0, 6, 12, 18, 24], labels=['Night', 'Morning', 'Afternoon', 'Evening'])
data['transaction_density'] = data.groupby('Date')['Amount'].transform('mean')
data['ctime'] = pd.cut(data['ctime'], bins=[0, 6, 12, 18, 24], labels=['Night', 'Morning', 'Afternoon', 'Evening'])
data.head()

,Date,Name,Email,Amount,Time,IPAddress,TransactionMode,MonthEnd,Day,WeekDay,isParty,isFraud,checkname,checkmail,checktmode,checkip,cdate,ctime,transaction_density
0,2023-07-01,Ibrahim,sulibrahim202@gmail.com,10,07:24:32,179.78.175.197,Bank Transfer,NormalDay,Saturday,Weekend,No,False,valid,valid,valid,valid,2023-07-01,Morning,1311.666667
1,2023-07-01,Ibrahim,sulibrahim202@gmail.com,25,15:15:51,80.111.139.82,Debit Card,NormalDay,Saturday,Weekend,No,False,valid,valid,valid,valid,2023-07-01,Afternoon,1311.666667
2,2023-07-01,billy,muchiuchiha@yahoo.com,3900,10:16:31,11.88.76.59,unknown,NormalDay,Saturday,Weekend,No,True,fraud,fraud,fraud,fraud,2023-07-01,Morning,1311.666667
3,2023-07-02,seun,muchiuchiha@yahoo.com,50,22:13:27,151.228.41.182,renewal,NormalDay,Sunday,Weekend,No,True,fraud,fraud,fraud,fraud,2023-07-02,Evening,27.500000
4,2023-07-02,Ibrahim,sulibrahim202@gmail.com,5,23:58:12,218.12.47.131,Debit Card,NormalDay,Sunday,Weekend,No,False,valid,valid,valid,valid,2023-07-02,Evening,27.500000

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import IsolationForest
from sklearn.metrics import classification_report

In [14]:
trainings = data.drop(columns=['Time', 'WeekDay', 'Date', 'isFraud', 'Name','Email', 'IPAddress', 'TransactionMode' ])
trainings.head()

,Amount,MonthEnd,Day,isParty,checkname,checkmail,checktmode,checkip,cdate,ctime,transaction_density
0,10,NormalDay,Saturday,No,valid,valid,valid,valid,2023-07-01,Morning,1311.666667
1,25,NormalDay,Saturday,No,valid,valid,valid,valid,2023-07-01,Afternoon,1311.666667
2,3900,NormalDay,Saturday,No,fraud,fraud,fraud,fraud,2023-07-01,Morning,1311.666667
3,50,NormalDay,Sunday,No,fraud,fraud,fraud,fraud,2023-07-02,Evening,27.500000
4,5,NormalDay,Sunday,No,valid,valid,valid,valid,2023-07-02,Evening,27.500000

In [15]:
trainings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Amount               362 non-null    int64
 1   MonthEnd             362 non-null    object
 2   Day                  362 non-null    object
 3   isParty              362 non-null    object
 4   checkname            362 non-null    object
 5   checkmail            362 non-null    object
 6   checktmode           362 non-null    object
 7   checkip              362 non-null    object
 8   cdate                362 non-null    datetime64[ns]
 9   ctime                362 non-null    category
 10  transaction_density  362 non-null    float64
dtypes: category(1), datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 29.0+ KB

In [21]:
trainings.columns

Index(['Amount', 'MonthEnd', 'Day', 'isParty', 'checkname', 'checkmail',
       'checktmode', 'checkip', 'cdate', 'ctime', 'transaction_density'],
      dtype='object')

In [29]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [30]:
# Encoders
categorical_features = ['Day', 'checkname', 'checkmail','checktmode', 'checkip', 'ctime']

one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                 one_hot,
                                 categorical_features)],
                               remainder='passthrough')

In [32]:
# fit the data to be categorized

trans_trainings = transformer.fit_transform(trainings)
trans_trainings

array([[0.0, 0.0, 1.0, ..., 60, Timestamp('2023-07-01 00:00:00'),
        63.333333333333336],
       [0.0, 0.0, 1.0, ..., 60, Timestamp('2023-07-01 00:00:00'),
        63.333333333333336],
       [0.0, 0.0, 1.0, ..., 70, Timestamp('2023-07-01 00:00:00'),
        63.333333333333336],
       ...,
       [0.0, 1.0, 0.0, ..., 1000, Timestamp('2023-08-07 00:00:00'),
        262.0],
       [0.0, 1.0, 0.0, ..., 23, Timestamp('2023-08-07 00:00:00'), 262.0],
       [0.0, 1.0, 0.0, ..., 5, Timestamp('2023-08-07 00:00:00'), 262.0]],
      dtype=object)

In [16]:
dummie = pd.get_dummies(trainings)
dummie = dummie[sorted(dummie.columns)]

In [34]:
fresho = pd.DataFrame(trans_trainings)

In [35]:
fresho

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,60,2023-07-01,63.333333
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,60,2023-07-01,63.333333
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,70,2023-07-01,63.333333
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,70,2023-07-02,63.333333
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,70,2023-07-02,63.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,2990,2023-08-06,1020.0
138,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,20,2023-08-07,262.0
139,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1000,2023-08-07,262.0
140,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,23,2023-08-07,262.0
141,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,5,2023-08-07,262.0

In [17]:
# train IsolationForest Anomaly Detector
anomaly_data = dummie.drop(columns=['cdate'])

### Split Data to train and Test Dataset
train_data, test_data = train_test_split(anomaly_data, test_size=0.2, 
                                         random_state=42)

### Define the model
isolationforest_model = IsolationForest(contamination=0.05, random_state=42)
anomaly_detect = isolationforest_model.fit(train_data)

C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

In [18]:
anomaly_detect.predict(test_data)

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1, -1,  1, -1,  1,  1,  1,  1, -1,  1,  1,
        1,  1,  1,  1,  1,  1,  1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1])

In [20]:
test_data.head(20)

,Amount,Day_Friday,Day_Monday,Day_Saturday,Day_Sunday,Day_Thursday,Day_Tuesday,Day_Wednesday,MonthEnd_MonthEnd,MonthEnd_NormalDay,...,checkname_valid,checktmode_fraud,checktmode_valid,ctime_Afternoon,ctime_Evening,ctime_Morning,ctime_Night,isParty_No,isParty_Party,transaction_density
163,50,0,0,0,0,0,1,0,0,1,...,0,1,0,1,0,0,0,1,0,34.500000
33,45,0,1,0,0,0,0,0,0,1,...,1,0,1,0,1,0,0,1,0,33.000000
15,23,0,0,0,0,0,0,1,0,1,...,1,0,1,1,0,0,0,1,0,5764.500000
322,5,0,0,0,0,0,0,1,0,1,...,1,0,1,0,1,0,0,1,0,20.500000
57,45,0,1,0,0,0,0,0,0,1,...,1,0,1,0,1,0,0,1,0,1483.333333
182,23,0,1,0,0,0,0,0,0,1,...,1,0,1,0,0,1,0,1,0,34.500000
76,40,0,0,1,0,0,0,0,0,1,...,1,0,1,0,0,1,0,1,0,20.000000
119,45,0,0,0,0,0,0,1,0,1,...,1,0,1,0,0,1,0,1,0,621.400000
267,23,0,0,0,0,0,1,0,0,1,...,1,0,1,0,0,1,0,1,0,28.333333
126,20,0,0,0,0,1,0,0,0,1,...,1,0,1,0,1,0,0,1,0,9800.000000
258,20000,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,1,6706.666667
39,5,0,0,0,0,0,0,1,0,1,...,1,0,1,0,1,0,0,1,0,1005.666667
232,60,0,0,1,0,0,0,0,0,1,...,1,0,1,0,1,0,0,0,1,36.666667
55,4400,0,1,0,0,0,0,0,0,1,...,0,1,0,0,0,1,0,1,0,1483.333333
137,2990,0,1,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,1,0,1870.000000
199,3000,1,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,1,0,1036.666667
255,34,1,0,0,0,0,0,0,0,1,...,1,0,1,0,1,0,0,1,0,617.800000
224,1500,0,0,0,0,1,0,0,1,0,...,1,0,1,0,1,0,0,1,0,249.428571
326,12,1,0,0,0,0,0,0,0,1,...,1,0,1,0,0,1,0,1,0,74.400000
101,70,0,0,1,0,0,0,0,0,1,...,1,0,1,0,0,1,0,0,1,143.333333

In [21]:
data.iloc[258]

Date                             2023-09-09
Name                                  molly
Email                  yukinaxyz@wechat.com
Amount                                20000
Time                               10:03:41
IPAddress                     120.91.63.242
TransactionMode                     renewal
MonthEnd                          NormalDay
Day                                Saturday
WeekDay                             Weekend
isParty                               Party
isFraud                                True
checkname                             fraud
checkmail                             fraud
checktmode                            fraud
checkip                               fraud
cdate                   2023-09-09 00:00:00
ctime                               Morning
transaction_density             6706.666667
Name: 258, dtype: object

In [38]:
testies = {
    "Date": "2023-09-09",
	"Name": "molly",
"Email": "yukinaxyz@wechat.com",
"Amount": 20000,
"Time": "10:03:41",
"IPAddress": "120.91.63.242",
"TransactionMode": "renewal",
"MonthEnd": "NormalDay",
"Day": "Saturday",
"WeekDay": "Weekend",
"isParty": "Party",
"isFraud": True
}

In [39]:
testies

{'Date': '2023-09-09',
 'Name': 'molly',
 'Email': 'yukinaxyz@wechat.com',
 'Amount': 20000,
 'Time': '10:03:41',
 'IPAddress': '120.91.63.242',
 'TransactionMode': 'renewal',
 'MonthEnd': 'NormalDay',
 'Day': 'Saturday',
 'WeekDay': 'Weekend',
 'isParty': 'Party',
 'isFraud': True}

In [47]:
fancy = get_determine(frame)

NameError: name 'name_classifier' is not defined

In [34]:
frame = {'Date': '2023-07-02',
   'Name': 'Ibrahim',
   'Email': 'sulibrahim202@gmail.com',
   'Amount': 70,
   'Time': '07:42:01',
   'IPAddress': '103.83.169.24',
   'TransactionMode': 'Online Payment',
   'MonthEnd': 'NormalDay',
   'Day': 'Sunday',
   'WeekDay': 'Weekend',
   'isParty': 'Party',
   'isFraud': False}
#frame['Apple'] = 'Mango'

framed = {'Date': '2023-10-13',
    'Name': 'molly',
   'Email': 'yukinaxyz@wechat.com',
   'Amount': 3000,
   'Time': '22:53:20',
   'IPAddress': '172.46.225.80',
   'TransactionMode': 'one time payment',
    'MonthEnd': 'NormalDay',
   'Day': 'Friday',
   'WeekDay': 'Weekday',
   'isParty': 'No',
   'isFraud': True
}
print(frame)

{'Date': '2023-07-02', 'Name': 'Ibrahim', 'Email': 'sulibrahim202@gmail.com', 'Amount': 70, 'Time': '07:42:01', 'IPAddress': '103.83.169.24', 'TransactionMode': 'Online Payment', 'MonthEnd': 'NormalDay', 'Day': 'Sunday', 'WeekDay': 'Weekend', 'isParty': 'Party', 'isFraud': False}

In [3]:
frame.update({'action': 'midway'})
frame

{'Date': '2023-07-02',
 'Name': 'Ibrahim',
 'Email': 'sulibrahim202@gmail.com',
 'Amount': 70,
 'Time': '07:42:01',
 'IPAddress': '103.83.169.24',
 'TransactionMode': 'Online Payment',
 'MonthEnd': 'NormalDay',
 'Day': 'Sunday',
 'WeekDay': 'Weekend',
 'isParty': 'Party',
 'isFraud': False,
 'action': 'midway'}

In [91]:
# dummie.to_pickle('dummypickle.pkl')
dummie.columns

Index(['Amount', 'cdate', 'transaction_density', 'MonthEnd_MonthEnd',
       'MonthEnd_NormalDay', 'Day_Friday', 'Day_Monday', 'Day_Saturday',
       'Day_Sunday', 'Day_Thursday', 'Day_Tuesday', 'Day_Wednesday',
       'isParty_No', 'isParty_Party', 'checkname_fraud', 'checkname_null',
       'checkname_valid', 'checkmail_fraud', 'checkmail_valid',
       'checktmode_fraud', 'checktmode_valid', 'checkip_fraud',
       'checkip_valid', 'ctime_Night', 'ctime_Morning', 'ctime_Afternoon',
       'ctime_Evening'],
      dtype='object')

In [87]:
matrix_man = pd.read_pickle('dummypickle.pkl')
futian = pd.get_dummies(fancy, drop_first=True)

In [48]:
fancy

NameError: name 'fancy' is not defined

In [18]:
def set_day_encoder(dsy):
    farsi  = f'Day_{dsy}'
    days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    output_dict = {f'Day_{day}': 0 for day in days_of_week}
    
    if dsy in days_of_week:
        output_dict[farsi] = 1
        
    return output_dict

def set_monthend_category(monsta):
    #MonthEnd_MonthEnd MonthEnd_NormalDay
    farsi = f'MonthEnd_{monsta}'
    monthend_state = ['MonthEnd', 'NormalDay']
    output_dict = {f'MonthEnd_{monthsate}': 0 for monthsate in monthend_state}
    
    if monsta in monthend_state:
        output_dict[farsi] = 1
        
    return output_dict

def is_party_classifier(partycond):
    #'isParty_No', 'isParty_Party'
    farsi = f'isParty_{partycond}'
    party_state = ['No', 'Party']
    output_dict = {f'isParty_{monthsate}': 0 for monthsate in party_state}
    
    if partycond in party_state:
        output_dict[farsi] = 1
        
    return output_dict

def name_classifier(partycond):
    #'checkname_fraud', 'checkname_null','checkname_valid'
    farsi = f'checkname_{partycond}'
    party_state = ['fraud', 'null', 'valid']
    output_dict = {f'checkname_{monthsate}': 0 for monthsate in party_state}
    
    if partycond in party_state:
        output_dict[farsi] = 1
        
    return output_dict

def email_classifier(partycond):
    #'checkmail_fraud', 'checkmail_valid',
    farsi = f'checkmail_{partycond}'
    party_state = ['fraud', 'valid']
    output_dict = {f'checkmail_{monthsate}': 0 for monthsate in party_state}
    
    if partycond in party_state:
        output_dict[farsi] = 1
        
    return output_dict

def tmode_classifier(partycond):
    # 'checktmode_fraud', 'checktmode_valid',
    farsi = f'checktmode_{partycond}'
    party_state = ['fraud', 'valid']
    output_dict = {f'checktmode_{monthsate}': 0 for monthsate in party_state}
    
    if partycond in party_state:
        output_dict[farsi] = 1
        
    return output_dict

def ip_classifier(partycond):
    # 'checkip_fraud','checkip_valid',
    farsi = f'checkip_{partycond}'
    party_state = ['fraud', 'valid']
    output_dict = {f'checkip_{monthsate}': 0 for monthsate in party_state}
    
    if partycond in party_state:
        output_dict[farsi] = 1
        
    return output_dict

def get_time_period(nums):
    #['Night', 'Morning', 'Afternoon', 'Evening'][0, 6, 12, 18, 24
    if (nums >= 0 and nums <6):
        return 'Night'
    elif (nums >= 6 and nums <12):
        return 'Morning'
    elif (nums >= 12 and nums <18):
        return 'Afternoon'
    elif (nums >= 18 and nums <24):
        return 'Evening'
    else:
        return 'No time'

def ctime_classifier(migos):
    partycond = get_time_period(migos)
    #  'ctime_Night', 'ctime_Morning', 'ctime_Afternoon','ctime_Evening'
    farsi = f'ctime_{partycond}'
    party_state = ['Night', 'Morning', 'Afternoon', 'Evening']
    output_dict = {f'ctime_{monthsate}': 0 for monthsate in party_state}
    
    if partycond in party_state:
        output_dict[farsi] = 1
        
    return output_dict

In [19]:
#['Amount', 'MonthEnd', 'Day', 'isParty', 'checkname', 'checkmail', 'checktmode', 'checkip', 'cdate', 'ctime', 'transaction_density']

def get_determine(obj_array):
    dubios = []
    name = obj_array['Name']
    #obj_array['checkname'] = check_name(name)
    obj_array.update(name_classifier(check_name(name)))
    
    email = obj_array['Email']
    #obj_array['checkmail'] = check_email(email)
    obj_array.update(email_classifier(check_email(email)))
    
    tranmode = obj_array['TransactionMode']
    #obj_array['checktmode'] = check_transactmode(tranmode)
    obj_array.update(tmode_classifier(check_transactmode(tranmode)))
    
    ipadd = obj_array['IPAddress']
    #obj_array['checkip'] = check_ips(ipadd)
    obj_array.update(ip_classifier(check_ips(ipadd)))
    
    times = obj_array['Time']
    #obj_array['ctime'] = string_to_time_converter(times)
    obj_array.update(ctime_classifier(string_to_time_converter(times)))
    
    date = obj_array['Date']
    obj_array['cdate'] = string_to_date_converter(date)
    
    monthend = obj_array['MonthEnd']
    obj_array.update(set_monthend_category(monthend)) 
    
    dayssd = obj_array['Day']
    obj_array.update(set_day_encoder(dayssd)) 
    
    party = obj_array['isParty']
    obj_array.update(is_party_classifier(party))
    
    
    
    #dubios.append(obj_array)
    
    #data = pd.DataFrame(dubios)
    
    #data['ctime'] = pd.cut(data['ctime'], bins=[0, 6, 12, 18, 24], labels=['Night', 'Morning', 'Afternoon', 'Evening'])
    #data['transaction_density'] = data.groupby('Date')['Amount'].transform('mean')
    
    #data_to_use = data['Amount', 'MonthEnd', 'Day', 'isParty', 'checkname', 'checkmail', 'checktmode', 'checkip', 'ctime', 'transaction_density']
    #data_to_use = data.drop(columns=['Time', 'WeekDay', 'Date', 'isFraud', 'Name','Email', 'IPAddress', 'TransactionMode','MonthEnd', 'Day', 'isParty' ])
    
    return obj_array


def determine_all_array(major):
    dubios = []
    for i in range(len(major)):
        obe_arr = get_determine(major[i])
        dubios.append(obe_arr)
        
        
    data = pd.DataFrame(dubios)
    
    data['transaction_density'] = data.groupby('Date')['Amount'].transform('mean')
    
    data_to_use = data.drop(columns=['Time', 'WeekDay', 'Date', 'isFraud', 'Name','Email', 'IPAddress', 'TransactionMode','MonthEnd', 'Day', 'isParty' ])
    
    return data_to_use

In [40]:
ibrahim_min = get_determine(testies)

In [41]:
freesbies = ibrahim_min[sorted(ibrahim_min.columns)]
freesbies

,Amount,Day_Friday,Day_Monday,Day_Saturday,Day_Sunday,Day_Thursday,Day_Tuesday,Day_Wednesday,MonthEnd_MonthEnd,MonthEnd_NormalDay,...,checkname_valid,checktmode_fraud,checktmode_valid,ctime_Afternoon,ctime_Evening,ctime_Morning,ctime_Night,isParty_No,isParty_Party,transaction_density
0,20000,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,1,20000.0

In [69]:
set_day_encoder("Friday")

{'Day_Monday': 0,
 'Day_Tuesday': 0,
 'Day_Wednesday': 0,
 'Day_Thursday': 0,
 'Day_Friday': 1,
 'Day_Saturday': 0,
 'Day_Sunday': 0}

In [105]:
bruce = get_determine(framed)

In [79]:
get_time_period(7)

'Morning'

In [106]:
bruce = bruce[sorted(bruce.columns)]
bruce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Amount               1 non-null      int64
 1   Day_Friday           1 non-null      int64
 2   Day_Monday           1 non-null      int64
 3   Day_Saturday         1 non-null      int64
 4   Day_Sunday           1 non-null      int64
 5   Day_Thursday         1 non-null      int64
 6   Day_Tuesday          1 non-null      int64
 7   Day_Wednesday        1 non-null      int64
 8   MonthEnd_MonthEnd    1 non-null      int64
 9   MonthEnd_NormalDay   1 non-null      int64
 10  cdate                1 non-null      datetime64[ns]
 11  checkip_fraud        1 non-null      int64
 12  checkip_valid        1 non-null      int64
 13  checkmail_fraud      1 non-null      int64
 14  checkmail_valid      1 non-null      int64
 15  checkname_fraud      1 non-null      int64
 16  checkname_null       1 non-null      int64
 17  checkname_valid      1 non-null      int64
 18  checktmode_fraud     1 non-null      int64
 19  checktmode_valid     1 non-null      int64
 20  ctime_Afternoon      1 non-null      int64
 21  ctime_Evening        1 non-null      int64
 22  ctime_Morning        1 non-null      int64
 23  ctime_Night          1 non-null      int64
 24  isParty_No           1 non-null      int64
 25  isParty_Party        1 non-null      int64
 26  transaction_density  1 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(25)
memory usage: 348.0 bytes

In [75]:
dummie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Amount               142 non-null    int64
 1   cdate                142 non-null    datetime64[ns]
 2   transaction_density  142 non-null    float64
 3   MonthEnd_MonthEnd    142 non-null    uint8
 4   MonthEnd_NormalDay   142 non-null    uint8
 5   Day_Friday           142 non-null    uint8
 6   Day_Monday           142 non-null    uint8
 7   Day_Saturday         142 non-null    uint8
 8   Day_Sunday           142 non-null    uint8
 9   Day_Thursday         142 non-null    uint8
 10  Day_Tuesday          142 non-null    uint8
 11  Day_Wednesday        142 non-null    uint8
 12  isParty_No           142 non-null    uint8
 13  isParty_Party        142 non-null    uint8
 14  checkname_fraud      142 non-null    uint8
 15  checkname_null       142 non-null    uint8
 16  checkname_valid      142 non-null    uint8
 17  checkmail_fraud      142 non-null    uint8
 18  checkmail_valid      142 non-null    uint8
 19  checktmode_fraud     142 non-null    uint8
 20  checktmode_valid     142 non-null    uint8
 21  checkip_fraud        142 non-null    uint8
 22  checkip_valid        142 non-null    uint8
 23  ctime_Night          142 non-null    uint8
 24  ctime_Morning        142 non-null    uint8
 25  ctime_Afternoon      142 non-null    uint8
 26  ctime_Evening        142 non-null    uint8
dtypes: datetime64[ns](1), float64(1), int64(1), uint8(24)
memory usage: 6.8 KB

In [33]:
#beam = bruce.drop(columns=['cdate'])
#anomaly_detect.predict(dummie.iloc[112])
#freesbies = freesbies.drop(columns=['cdate'])

anomaly_detect.predict(freesbies)

array([-1])

In [34]:
import pickle
with open('anomaly_detector_model.plk', 'wb') as model_file:
    pickle.dump(anomaly_detect, model_file)

In [108]:
beam

,Amount,Day_Friday,Day_Monday,Day_Saturday,Day_Sunday,Day_Thursday,Day_Tuesday,Day_Wednesday,MonthEnd_MonthEnd,MonthEnd_NormalDay,...,checkname_valid,checktmode_fraud,checktmode_valid,ctime_Afternoon,ctime_Evening,ctime_Morning,ctime_Night,isParty_No,isParty_Party,transaction_density
0,3000,1,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,1,0,3000.0

In [110]:
import numpy as np

In [111]:
arrtes = dummie.values
arrtes

array([[60, 0, 0, ..., 0, 1, 63.333333333333336],
       [60, 0, 0, ..., 0, 1, 63.333333333333336],
       [70, 0, 0, ..., 0, 1, 63.333333333333336],
       ...,
       [1000, 0, 1, ..., 1, 0, 262.0],
       [23, 0, 1, ..., 1, 0, 262.0],
       [5, 0, 1, ..., 1, 0, 262.0]], dtype=object)

### Prepping and working the RandomForest Regressor

In [24]:
data

,Unnamed: 0,Date,Name,Email,Amount,Time,IPAddress,TransactionMode,MonthEnd,Day,WeekDay,isParty,isFraud
0,0,2023-07-01,Ibrahim,sulibrahim202@gmail.com,10,07:24:32,179.78.175.197,Bank Transfer,NormalDay,Saturday,Weekend,No,False
1,1,2023-07-01,Ibrahim,sulibrahim202@gmail.com,25,15:15:51,80.111.139.82,Debit Card,NormalDay,Saturday,Weekend,No,False
2,2,2023-07-01,billy,muchiuchiha@yahoo.com,3900,10:16:31,11.88.76.59,unknown,NormalDay,Saturday,Weekend,No,True
3,3,2023-07-02,seun,muchiuchiha@yahoo.com,50,22:13:27,151.228.41.182,renewal,NormalDay,Sunday,Weekend,No,True
4,4,2023-07-02,Ibrahim,sulibrahim202@gmail.com,5,23:58:12,218.12.47.131,Debit Card,NormalDay,Sunday,Weekend,No,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,357,2023-10-06,Ibrahim,sulibrahim202@gmail.com,12,17:46:49,84.69.172.191,Online Payment,NormalDay,Friday,Workday,No,False
358,358,2023-10-06,master,billy4zone@recon.com,1000,16:54:01,83.29.94.120,renewal,NormalDay,Friday,Workday,No,True
359,359,2023-10-07,Ibrahim,sulibrahim202@gmail.com,40,07:15:55,20.209.253.50,Bank Transfer,NormalDay,Saturday,Weekend,No,False
360,360,2023-10-07,Ibrahim,sulibrahim202@gmail.com,40,15:41:33,179.78.175.197,Bank Transfer,NormalDay,Saturday,Weekend,No,False
361,361,2023-10-07,Ibrahim,sulibrahim202@gmail.com,20,23:58:58,26.51.167.24,Bank Transfer,NormalDay,Saturday,Weekend,No,False

### Preprocess Data

In [25]:
data = data.drop(columns=['Unnamed: 0'])

In [26]:
data['checkname'] = data['Name'].apply(lambda x: check_name(x))
data['checkmail'] = data['Email'].apply(lambda x: check_email(x))
data['checktmode'] = data['TransactionMode'].apply(lambda x: check_transactmode(x))
data['checkip'] = data['IPAddress'].apply(lambda x: check_ips(x))
data['cdate'] = data['Date'].apply(lambda x: string_to_date_converter(x))
data['ctime'] = data['Time'].apply(lambda x: string_to_time_converter(x))
data['transaction_density'] = data.groupby('Date')['Amount'].transform('mean')
data['ctime'] = pd.cut(data['ctime'], bins=[0, 6, 12, 18, 24], labels=['Night', 'Morning', 'Afternoon', 'Evening'])
data.head()

,Date,Name,Email,Amount,Time,IPAddress,TransactionMode,MonthEnd,Day,WeekDay,isParty,isFraud,checkname,checkmail,checktmode,checkip,cdate,ctime,transaction_density
0,2023-07-01,Ibrahim,sulibrahim202@gmail.com,10,07:24:32,179.78.175.197,Bank Transfer,NormalDay,Saturday,Weekend,No,False,valid,valid,valid,valid,2023-07-01,Morning,1311.666667
1,2023-07-01,Ibrahim,sulibrahim202@gmail.com,25,15:15:51,80.111.139.82,Debit Card,NormalDay,Saturday,Weekend,No,False,valid,valid,valid,valid,2023-07-01,Afternoon,1311.666667
2,2023-07-01,billy,muchiuchiha@yahoo.com,3900,10:16:31,11.88.76.59,unknown,NormalDay,Saturday,Weekend,No,True,fraud,fraud,fraud,fraud,2023-07-01,Morning,1311.666667
3,2023-07-02,seun,muchiuchiha@yahoo.com,50,22:13:27,151.228.41.182,renewal,NormalDay,Sunday,Weekend,No,True,fraud,fraud,fraud,fraud,2023-07-02,Evening,27.500000
4,2023-07-02,Ibrahim,sulibrahim202@gmail.com,5,23:58:12,218.12.47.131,Debit Card,NormalDay,Sunday,Weekend,No,False,valid,valid,valid,valid,2023-07-02,Evening,27.500000

### Get the Training Data and Turn Into Categorical Numerical Data
** Using Pandas dummies

In [27]:
trainings = data.drop(columns=['Time', 'WeekDay', 'Date', 'Name','Email', 'IPAddress', 'TransactionMode', 'cdate' ])

In [28]:
# Create a function to convert true or false into digits

def check_fraudy(isFraud):
    if isFraud:
        return 0
    else:
        return 1
    
check_fraudy(False)

1

In [29]:
trainings['isFraud'] = trainings['isFraud'].apply(lambda x: check_fraudy(x))

In [30]:
trainings.head()

,Amount,MonthEnd,Day,isParty,isFraud,checkname,checkmail,checktmode,checkip,ctime,transaction_density
0,10,NormalDay,Saturday,No,1,valid,valid,valid,valid,Morning,1311.666667
1,25,NormalDay,Saturday,No,1,valid,valid,valid,valid,Afternoon,1311.666667
2,3900,NormalDay,Saturday,No,0,fraud,fraud,fraud,fraud,Morning,1311.666667
3,50,NormalDay,Sunday,No,0,fraud,fraud,fraud,fraud,Evening,27.500000
4,5,NormalDay,Sunday,No,1,valid,valid,valid,valid,Evening,27.500000

In [31]:
# get the dummies
tdummy = pd.get_dummies(trainings)

In [32]:
tdummy.head()

,Amount,isFraud,transaction_density,MonthEnd_MonthEnd,MonthEnd_NormalDay,Day_Friday,Day_Monday,Day_Saturday,Day_Sunday,Day_Thursday,...,checkmail_fraud,checkmail_valid,checktmode_fraud,checktmode_valid,checkip_fraud,checkip_valid,ctime_Night,ctime_Morning,ctime_Afternoon,ctime_Evening
0,10,1,1311.666667,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,1,0,0
1,25,1,1311.666667,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
2,3900,0,1311.666667,0,1,0,0,1,0,0,...,1,0,1,0,1,0,0,1,0,0
3,50,0,27.500000,0,1,0,0,0,1,0,...,1,0,1,0,1,0,0,0,0,1
4,5,1,27.500000,0,1,0,0,0,1,0,...,0,1,0,1,0,1,0,0,0,1

In [33]:
X = tdummy.drop(['isFraud'], axis=1)
X = X[sorted(X.columns)]
Y = tdummy['isFraud']

In [34]:
import numpy as np 
from sklearn.ensemble import RandomForestRegressor
np.random.seed(42)

In [35]:
from sklearn.model_selection import train_test_split
randomFRegressors = RandomForestRegressor()
X_train, X_test, Y_train, Y_test = train_test_split(X,
                                                   Y,
                                                   test_size=0.25)

In [36]:
fraud_predictor = randomFRegressors.fit(X_train, Y_train)

In [37]:
fraud_predictor.predict(X_test)

array([0.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 0.  ,
       1.  , 1.  , 0.  , 0.  , 0.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
       0.  , 1.  , 0.  , 0.  , 0.01, 0.  , 1.  , 0.  , 1.  , 0.01, 1.  ,
       0.  , 1.  , 1.  , 0.  , 1.  , 0.  , 0.  , 1.  , 0.  , 0.01, 1.  ,
       1.  , 0.  , 0.  , 1.  , 0.  , 1.  , 1.  , 0.  , 1.  , 1.  , 1.  ,
       1.  , 1.  , 0.  , 1.  , 1.  , 0.  , 1.  , 1.  , 0.  , 1.  , 1.  ,
       1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 0.  , 1.  , 1.  , 1.  , 0.  ,
       1.  , 1.  , 0.  , 1.  , 1.  , 0.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
       0.  , 1.  , 0.  ])

In [38]:
Y_test

163    0
33     1
15     1
322    1
57     1
      ..
316    1
310    1
339    0
110    1
295    0
Name: isFraud, Length: 91, dtype: int64

### Saving the model for future use

In [39]:
import pickle
with open('fraud_predictor_model.plk', 'wb') as model_file:
    pickle.dump(fraud_predictor, model_file)

In [48]:
manny = freesbies.drop(columns=['cdate'])

X_test.columns

In [59]:
manny.columns

Index(['Amount', 'Day_Friday', 'Day_Monday', 'Day_Saturday', 'Day_Sunday',
       'Day_Thursday', 'Day_Tuesday', 'Day_Wednesday', 'MonthEnd_MonthEnd',
       'MonthEnd_NormalDay', 'checkip_fraud', 'checkip_valid',
       'checkmail_fraud', 'checkmail_valid', 'checkname_fraud',
       'checkname_null', 'checkname_valid', 'checktmode_fraud',
       'checktmode_valid', 'ctime_Afternoon', 'ctime_Evening', 'ctime_Morning',
       'ctime_Night', 'isParty_No', 'isParty_Party', 'transaction_density'],
      dtype='object')

In [60]:
fraud_predictor.predict(manny)

array([0.])

In [11]:
testings = pd.read_csv('matched_test.csv')
testings = testings.drop(columns=['Unnamed: 0'])
testings.head()

,Date,Name,Email,Amount,Time,IPAddress,TransactionMode,MonthEnd,Day,WeekDay,isParty,isFraud
0,2024-03-01,Ibrahim,sulibrahim202@gmail.com,45,07:03:46,44.154.58.200,Bank Transfer,NormalDay,Friday,Workday,No,False
1,2024-03-01,ibrahim,goebombarz@gmail.com,290,10:00:19,94.141.219.106,online purchase,NormalDay,Friday,Workday,No,True
2,2024-03-01,Ibrahim,sulibrahim202@gmail.com,5,23:58:25,126.121.246.110,Online Payment,NormalDay,Friday,Workday,No,False
3,2024-03-02,ibrahim,yukinaxyz@wechat.com,4400,23:51:21,94.141.219.106,renewal,NormalDay,Saturday,Weekend,Party,True
4,2024-03-02,ibrahim,goebombarz@gmail.com,4400,22:03:14,83.29.94.120,one time payment,NormalDay,Saturday,Weekend,Party,True

In [42]:
obj_array = []
for i in range(len(testings)):
    row = testings.iloc[i]
    row_dict = row.to_dict()
    obj_array.append(row_dict)

tyiu = determine_all_array(obj_array)
tyiu.head()

#for index, row in testings.iterrows():
#    row_dict = row.to_dict()
#    print(row_dict)

,Amount,checkname_fraud,checkname_null,checkname_valid,checkmail_fraud,checkmail_valid,checktmode_fraud,checktmode_valid,checkip_fraud,checkip_valid,...,Day_Monday,Day_Tuesday,Day_Wednesday,Day_Thursday,Day_Friday,Day_Saturday,Day_Sunday,isParty_No,isParty_Party,transaction_density
0,45,0,0,1,0,1,0,1,0,1,...,0,0,0,0,1,0,0,1,0,113.333333
1,290,0,1,0,1,0,1,0,1,0,...,0,0,0,0,1,0,0,1,0,113.333333
2,5,0,0,1,0,1,0,1,0,1,...,0,0,0,0,1,0,0,1,0,113.333333
3,4400,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,1,0,0,1,2950.000000
4,4400,0,1,0,1,0,1,0,1,0,...,0,0,0,0,0,1,0,0,1,2950.000000

### Testing the model

In [43]:
tyiu = tyiu.drop(columns=['cdate'])
tyiu = tyiu[sorted(tyiu.columns)]

In [44]:
fraud_predictor.predict(tyiu)

array([1.  , 0.01, 1.  , 0.01, 0.01, 1.  , 0.01, 1.  , 1.  , 1.  , 1.  ,
       1.  , 0.  , 1.  , 0.  , 1.  , 1.  , 1.  , 1.  , 1.  , 0.  , 1.  ,
       0.01, 1.  , 1.  , 0.  , 1.  , 1.  , 1.  , 1.  , 0.  , 0.  , 1.  ,
       1.  , 0.  , 1.  , 0.  , 1.  , 0.  , 0.  , 1.  , 1.  , 0.  , 1.  ,
       1.  , 1.  , 0.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 0.  , 1.  ,
       1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 1.  , 1.  , 1.  ,
       0.  , 0.  , 0.  , 0.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 0.01,
       1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 0.  , 0.  , 1.  , 1.  , 1.  ,
       1.  , 1.  , 0.  , 1.  , 0.01, 1.  , 1.  , 0.  , 1.  , 1.  , 1.  ,
       1.  , 1.  , 1.  , 0.01, 0.01, 0.  , 0.  , 0.  , 0.  , 0.  , 1.  ,
       1.  , 1.  , 1.  , 1.  , 0.  , 1.  , 0.  , 0.  , 0.01, 1.  , 1.  ,
       1.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.  , 1.  , 1.  , 1.  , 1.  ,
       0.  , 0.  , 1.  , 1.  ])

In [54]:
film = testings['isFraud']
film.head(50)

0     False
1      True
2     False
3      True
4      True
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20     True
21    False
22     True
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30     True
31     True
32    False
33    False
34     True
35    False
36     True
37    False
38     True
39     True
40    False
41    False
42     True
43    False
44    False
45    False
46     True
47    False
48    False
49    False
Name: isFraud, dtype: bool

In [ ]:
fraud_predictor.score(ty)